Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Megascans
Content/StarterContent

Plugins/MultiplayerSessions/Binaries
Plugins/MultiplayerSessions/Intermediate

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace